logic-app/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.4.1318.3566",
      "templateHash": "15758434799478092150"
    }
  },
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "workflowName": "managed-app-webhook-1"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('workflowName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "appName": {
                      "type": "string"
                    },
                    "applicationId": {
                      "type": "string"
                    },
                    "eventTime": {
                      "type": "string"
                    },
                    "eventType": {
                      "type": "string"
                    },
                    "githubWorkflowDispatchUri": {
                      "type": "string"
                    },
                    "plan": {
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "product": {
                          "type": "string"
                        },
                        "publisher": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "provisioningState": {
                      "type": "string"
                    },
                    "rgName": {
                      "type": "string"
                    },
                    "subscriptionId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "Get_secret": {
              "runAfter": {
                "Parse_outputs": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('GH-SECRET')}/value"
              }
            },
            "HTTP": {
              "runAfter": {
                "Get_secret": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": {
                  "inputs": {
                    "clusterName": "@string(body('Parse_properties')?['parameters']?['aksClusterName'].value)",
                    "kvName": "@body('Parse_outputs')?['keyVaultName'].value",
                    "kvSecretProviderIdentity": "@{body('Parse_outputs')?['keyVaultSecretProviderManagedIdentity'].value}",
                    "resourceGroup": "@{body('Parse_outputs')?['customerManagedResourceGroupName'].value}",
                    "subscriptionId": "@{body('Parse_outputs')?['customerSubscriptionId'].value}",
                    "tenantId": "@{body('Parse_outputs')?['customerTenantId'].value}"
                  },
                  "ref": "main"
                },
                "headers": {
                  "Accept": "application/vnd.github.v3+json",
                  "Authorization": "token @{body('Get_secret')?['value']}"
                },
                "method": "POST",
                "uri": "@triggerBody()?['githubWorkflowDispatchUri']"
              }
            },
            "List_managed_app_resource": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['arm']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['subscriptionId'])}/resourcegroups/@{encodeURIComponent(triggerBody()?['rgName'])}/providers/@{encodeURIComponent('Microsoft.Solutions')}/@{encodeURIComponent('applications/',triggerBody()?['appName'])}",
                "queries": {
                  "x-ms-api-version": "2021-07-01"
                }
              }
            },
            "Parse_outputs": {
              "runAfter": {
                "Parse_properties": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Parse_properties')?['outputs']",
                "schema": {
                  "properties": {
                    "controlPlaneFQDN": {
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "customerManagedResourceGroupName": {
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "customerSubscriptionId": {
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "customerTenantId": {
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "keyVaultName": {
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "keyVaultSecretProviderManagedIdentity": {
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "Parse_properties": {
              "runAfter": {
                "List_managed_app_resource": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('List_managed_app_resource')?['properties']",
                "schema": {
                  "properties": {
                    "authorizations": {
                      "items": {
                        "properties": {
                          "principalId": {
                            "type": "string"
                          },
                          "roleDefinitionId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "principalId",
                          "roleDefinitionId"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "createdBy": {
                      "properties": {
                        "applicationId": {
                          "type": "string"
                        },
                        "oid": {
                          "type": "string"
                        },
                        "puid": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "customerSupport": {
                      "properties": {
                        "contactName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "managedResourceGroupId": {
                      "type": "string"
                    },
                    "managementMode": {
                      "type": "string"
                    },
                    "outputs": {
                      "properties": {
                        "controlPlaneFQDN": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "customerManagedResourceGroupName": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "customerSubscriptionId": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "customerTenantId": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "keyVaultName": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "keyVaultSecretProviderManagedIdentity": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "parameters": {
                      "properties": {
                        "aksClusterName": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "dnsPrefix": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "location": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "vaultName": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "vaultResourceGroupName": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "vaultSubscriptionId": {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "provisioningState": {
                      "type": "string"
                    },
                    "publisherTenantId": {
                      "type": "string"
                    },
                    "supportUrls": {
                      "properties": {
                        "publicAzure": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "updatedBy": {
                      "properties": {
                        "applicationId": {
                          "type": "string"
                        },
                        "oid": {
                          "type": "string"
                        },
                        "puid": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "arm": {
                "connectionId": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.Web/connections/arm', subscription().subscriptionId, resourceGroup().name)]",
                "connectionName": "arm",
                "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/arm', subscription().subscriptionId, parameters('location'))]"
              },
              "keyvault": {
                "connectionId": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.Web/connections/keyvault', subscription().subscriptionId, resourceGroup().name)]",
                "connectionName": "keyvault",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/keyvault', subscription().subscriptionId, parameters('location'))]"
              }
            }
          }
        }
      }
    }
  ]
}